#Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

**/logs/

.settings
bin
.project*
.classpath
.idea/

hikariDB.mv.db
hikariDB.trace.db
jte-classes/
